.addButtonContainer {
    --circle-size: 72px;

    background-color: var(--dp0);
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: var(--circle-size);
    
    z-index: 1001;
    position: absolute;
    top: 87%;
    left: 80%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.addIcon {
    fill: white;
    height: 70%;
    width: 70%;
}