@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root{
    --font-family: 'Inter', sans-serif;
    --dp0-border-radius: 16px;
    --dp1-border-radius: 8px;
    --dp0: #121212;
    --dp1: #1e1e1e;
    --sem-green: #33b247;
    --sem-red: #a70404;

    height: 100vh;
    width: 100%;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}