@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root{
    --font-family: 'Inter', sans-serif;
    --dp0-border-radius: 16px;
    --accent-main: #A05496;
    --accent-main-light: #FAF6F9;
    --dp0: #121212;
    --dp1: #1e1e1e;

    height: 100vh;
    width: 100%;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}